<!DOCTYPE html>
<html lang="pl">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title></title>
	
	<link href="https://fonts.googleapis.com/css?family=Poppins&amp;subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <!-- <header class="main-hdr" data-js="header">
    <div class="wrapper">
        <a class="hdr-logo" href="/">
            <img src="/img/wild-things60.png" 
                 srcset='/img/wild-things120.png 2x,/img/wild-things180.png 3x' 
                 alt="Wild Things">
        </a>

        <nav class="main-nav">
                <button class="nav-btn" data-js="navbtn"><span></span></button>
                <ul>
                        <li><a href="">Category 1</a></li>
                        <li><a href="">Category 2</a></li>
                        <li><a href="">Category 3</a></li>
                        <li><a href="">Category 4</a></li>
                        <li><a href="">Category 5</a></li>
                </ul>
        </nav>
    </div>
</header>
        
        <section class="hero component">
    <div class="wrapper">
        <div class="hero__cont hero__cont--shadow">
            <h1>Hero baner poppins</h1>
            <p>Tekst pod nagłówkiem</p>
            <a class="btn">Przejdź dalej</a>
        </div>
    </div>
</section>
        




<h1>PROJECT DEAD END</h1>
 
</section>  -->
<section class="component form">
<div class="wrapper">

<!-- <h2>Contact us [to ma być tekst na banner]</h2> -->

<!-- <h2>Get in touch</h2> -->

<h3>If you have questions about purchasing ISV Online,<br>you're in the right place!</h3>

<form class="form__cont" novalidate data-js="form" name="form_user" id="form_user" method="post">

    <div class="form__block">
        <div class="form__el">
            <label for="field_name">First name</label>
            <input name="field_name" type="text" placeholder="First name..." required/>
            <span class="form-error-msg">Wrong text!</span>
        </div>
        <div class="form__el">
            <label for="field_surname">Last name</label>
            <input name="field_surname" type="text" placeholder="Last name..." required/>
            <span class="form-error-msg">Wrong text!</span>
        </div>
        <div class="form__el">
            <label for="field_company">Company</label>
            <input name="field_company" type="text" placeholder="Company..." required/>
            <span class="form-error-msg">Wrong text!</span>
        </div>
        <div class="form__el">
            <label for="field_email">Email</label>
            <input name="field_email" type="email" placeholder="Email..." required/>
            <span class="form-error-msg">Wrong email!</span>
        </div>
        <div class="form__el">
            <label for="field_phone">Telephone</label>
            <input name="field_phone" type="tel" placeholder="Telephone..." required/>
            <span class="form-error-msg">Wrong text!</span>
        </div>
        <div class="form__el">
            <label for="field_text">Your message</label>
            <input pattern="[0-9]{2}-[0-9]{3}" name="field_text" type="text" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." required/>
            <span class="form-error-msg">Wrong text!</span>
        </div>
        <div>
            <div class="form__el">
            <label for="field_human">Prove you're human. What's 8 + 10?</label>
            <input name="field_human" type="text" placeholder="Human?" required/>
            <span class="form-error-msg">Wrong text!</span>
        </div>       
        </div>
        <div class="form__block">
            <button class="formBtn" type="submit" data-js="formBtn">Send form</button>
        </div>
    </form>
    <br>
    <div id="form_out">[Feedback formularza]</div>
</div>
</section>





        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/deadend.js" type="text/javascript"></script>
        <script src="js/deadend_form.js" type="text/javascript"></script>
    </body>
</html>