<footer class="main-foot component">
    <div class="wrapper">
        <div class="main-foot__nav clearfix">
            <div class="main-foot__nav__col">
                <a href="#" class="main-foot__nav__cat">Consecteur</a>
                <ul>
                    <li><a href="" class="main-foot__nav__lnk">Lorem ipsum dolor</a></li>
                    <li><a href="" class="main-foot__nav__lnk">Sit amet conscetur</a></li>
                    <li><a href="" class="main-foot__nav__lnk">Adipiscing elit</a></li>
                    <li><a href="" class="main-foot__nav__lnk">Enim ad minim</a></li>
                    <li><a href="" class="main-foot__nav__lnk">Quis nnostodaullamco laboris</a></li>
                    <li><a href="" class="main-foot__nav__lnk">Aliquip ex</a></li>
                    <li><a href="" class="main-foot__nav__lnk">Lorem ipsum dolor</a></li>
                    <li><a href="" class="main-foot__nav__lnk">Sit Amet consecetur</a></li>
                    <li><a href="" class="main-foot__nav__lnk">Adipiscing elit</a></li>
                </ul>
            </div>
            <div class="main-foot__nav__col">
                <a href="#" class="main-foot__nav__cat">Adipiscing</a>
                <ul>
                        <li><a href="" class="main-foot__nav__lnk">Lorem ipsum dolor</a></li>
                        <li><a href="" class="main-foot__nav__lnk">Sit amet conscetur</a></li>
                        <li><a href="" class="main-foot__nav__lnk">Adipiscing elit</a></li>
                </ul>
            <br>
                <a href="#" class="main-foot__nav__cat">Lorem Ipsum</a>
                <ul>
                        <li><a href="" class="main-foot__nav__lnk">Enim ad minim</a></li>
                        <li><a href="" class="main-foot__nav__lnk">Quis nnostodaullamco laboris</a></li>
                        <li><a href="" class="main-foot__nav__lnk">Aliquip ex</a></li>
                </ul>
            </div>
            <div class="main-foot__nav__col">
                <a href="#" class="main-foot__nav__cat">Dolor sit amet</a>
                <ul>
                        <li><a href="" class="main-foot__nav__lnk">Lorem ipsum dolor</a></li>
                        <li><a href="" class="main-foot__nav__lnk">Sit amet conscetur</a></li>
                        <li><a href="" class="main-foot__nav__lnk">Adipiscing elit</a></li>
                        <li><a href="" class="main-foot__nav__lnk">Enim ad minim</a></li>
                        <li><a href="" class="main-foot__nav__lnk">Quis nnostodaullamco laboris</a></li>
                        <li><a href="" class="main-foot__nav__lnk">Aliquip ex</a></li>
                        <li><a href="" class="main-foot__nav__lnk">Lorem ipsum dolor</a></li>
                        <li><a href="" class="main-foot__nav__lnk">Sit Amet consecetur</a></li>
                        <li><a href="" class="main-foot__nav__lnk">Adipiscing elit</a></li>
                    </ul>
            </div>

            <div class="main-foot__nav__col">
                    <a href="#" class="main-foot__nav__cat">Adipiscing</a>
                    <ul>
                            <li><a href="" class="main-foot__nav__lnk">Lorem ipsum dolor</a></li>
                            <li><a href="" class="main-foot__nav__lnk">Sit amet conscetur</a></li>
                            <li><a href="" class="main-foot__nav__lnk">Adipiscing elit</a></li>
                    </ul>
                <br>
                    <a href="#" class="main-foot__nav__cat">Lorem Ipsum</a>
                    <ul>
                            <li><a href="" class="main-foot__nav__lnk">Enim ad minim</a></li>
                            <li><a href="" class="main-foot__nav__lnk">Quis nnostodaullamco laboris</a></li>
                            <li><a href="" class="main-foot__nav__lnk">Aliquip ex</a></li>
                    </ul>
            </div>
        </div>
        <div class="main-foot__copy">
                <a href="#">Privacy Policy </a>
                <a href="#">Sitemap</a>
                <a href="#">Contact Us</a>
        </div>
    </div>
</footer>