<section class='component graphic'>
        <div class="wrapper">
            <div class="graphic_cont">  
                <a href="#"><img src="/img/Group91.png" alt="map"> </a>
                
                <div>
                    <p class="text_1">Lorem impsum dolor sit amet,<br> consectetur adipiscing elit.</p>
                </div>
                
                <div>
                    <p class="text_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut <br>enim ad minim veniam, quis nostrud exercitation ullamco <br>laboris nisi ut aliquip ex ea commodo consequat </p>
                </div>
                <div class="data">
                    <p class="data_1">78 Organisation</p>
                    <p class="data_2">2,765 Testers</p>
                    <p class="data_3">12 Countries</p>
                </div>  
            </div>
        </div>
    </section>