

<header class="main-hdr" data-js="header">
<div class="top_social">
    <div class="wrapper">
        <a href="https://twitter.com">Twitter</a>
        <a href="https://www.linkedin.com/">LinkedIn</a>
    </div>
</div>

    <div class="wrapper">
        <a class="hdr-logo" href="/">
            <img src="/img/union180.png" 
                 srcset='/img/union360.png 2x' 
                 alt="unionlogo">
        </a>

        <nav class="main-nav">
                <button class="nav-btn" data-js="navbtn"><span></span></button>
                <ul>
                        <li><a href="">Skill Testing</a></li>
                        <li><a href="">Training</a></li>
                        <li><a href="">Create Your Own</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">News</a></li>
                </ul>
                <button class="btn"><span>Contact Us</span></button>
        </nav>
    </div>
</header>