<section class="hero component">
        <div class="wrapper">
            <div class="hero__cont">
                <p class="hero-p">DeadEnd Development</p>
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
    <div class="hero__cont__newl">
    <input class="hero-input" type="text" name="hero-input" placeholder="Enter your mail">
    <input class="hero-btn" type="submit" name="hero-submit" value="Request a demo">
    </div>
            </div>
        </div>
    </section>