<section class="video component" data-js="video">
        <div class="wrapper">
            <div class="video__cont">
                <video data-js="videoel">
    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                </video>
            </div>
           
            <div class="video__controls">
                <button class="video__controls__play" data-js="videoplay">
                    <span class="fi flaticon-play-button"></span>
                </button>
                <button class="video__controls__pause" data-js="videopause">
                    <span class="fi flaticon-pause"></span>
                </button>
                <div class="video__hdr"> 
                    <p>Click&nbsp;to&nbsp;play</p> 
                </div>
    
            </div>
    
        
        </div>
    </section>