.svg{
    
    svg{
        width: 100%;
    }
    
    
    &__cont{
        
        @include min-media(420px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: $space;
            row-gap: $space;
/*            justify-items: center;
            align-items: center;*/
            
        }
        @include min-media($br-tablet){
            grid-template-columns: 1fr 1fr 1fr;
            //grid-template-areas: '. bag .' 'warehouse . business' '. truck .';
        }
        @include min-media($br-desktop){
            grid-template-columns: 1fr 1fr 1fr 1fr;
            //grid-template-areas: none;
        }
    }
    
   
    &__box{
        text-align: center;
        
        @media (min-width: $br-tablet) and (max-width: $br-desktop - 1){
            &:nth-child(1){
                //grid-area: warehouse;
                grid-column-start: 1;
                grid-row-start: 2;
            }
            &:nth-child(2){
                //grid-area: bag;
                grid-column-start: 2;
                grid-row-start: 1;
            }
            &:nth-child(3){
                //grid-area: truck;
                grid-column-start: 2;
                grid-row-start: 3;
            }
            &:nth-child(4){
                //grid-area: business;
                grid-column-start: 3;
                grid-row-start: 2;
            }
        }
        
/*        svg{
            width: 100px;
            max-height: 100px;
            
            @include min-media($br-desktop){
                width: auto;
                max-height: none;
                max-width: 200px;
            }
        }*/
    }
/*    
    &__title{
        font-size: $h3-font-size;
    }*/
}