$color-1: #333;
$color-2: #777;
$color-3: #d1d0d1;
$color-4: #4a90e2;

$color-1-light: #6f6f6f;
$color-2-light: #9f9f9f;
$color-3-light: #dcdbdc;
$color-4-light: #77abe9;
$white: #fff;


$base-font: 'Poppins', sans-serif;
$fw-normal: 400;
$fw-bold: 700;

$base-unit: 1rem;

$body-font-size: $base-unit;
$body-font-size2: $base-unit * .75;
$body-line-height: 1.5;
$body-color: $color-1;

$h1-font-size: $base-unit * 2;
$h2-font-size: $base-unit * 1.5;
$h3-font-size: $base-unit * 1.25;

$space: 2 * $base-unit;

$wrapper-max: 74 * $base-unit; // 1184


$br-mobile: 360px;
$br-tablet: 768px;
$br-desktop: 1200px;
$br-desktop-xl: 1680px;









